.daysix .button {
    font-size: 38px !important;
    padding-left: 4vw !important;
    padding-right: 4vw !important;
    color: #FF0079 !important;
    text-transform: uppercase !important;
    font-family: Bison Bold, sans-serif !important;
    padding-top: 0vw !important;
    padding-bottom: 0vw !important;
    background: #CDF200 !important;
    border-radius: 11px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: fit-content !important;
    line-height: unset !important;
    height: 55px !important;
    font-weight: 400 !important;
    transition-duration: 0.3s !important;
    min-width: 300px !important;

    &:hover {
        color: #CDF200 !important;
        background: #FF93C1 !important;
        transition-duration: 0.3s !important;
    }
}

.woocommerce-notices-wrapper {
    display: none !important;
}

.woocommerce-form-coupon-toggle {
    display: none !important;
}

.woocommerce-additional-fields {
    display: none !important;
}

.woocommerce-checkout-review-order-table {
    display: none !important;
}

.woocommerce-terms-and-conditions-wrapper {
    display: none !important;
}

.woocommerce-billing-fields {
    h3 {
        display: none !important;
    }

    label {
        color: #fff !important;
        font-family: Satoshi, sans-serif !important;
        font-weight: 700 !important;
    }

    input {
        font-size: 18px !important;
        margin-bottom: 0;
        margin-top: 0;
        padding: 0vw 23px !important;
        height: 4vw !important;
        font-family: Satoshi, sans-serif !important;
        font-weight: 700 !important;
        color: #171717 !important;
        border-radius: 15px !important;
        height: 55px !important;
    }
}

.woocommerce form .form-row .required {
    display: none !important;
}

.stock {
    display: none !important;
}


#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
    background: #fff !important;
    border-radius: 15px !important;
}

ul.payment_methods,
.woocommerce-checkout #payment ul.payment_methods {
    border-bottom: 0px solid #cfc8d8 !important;
}

.daysix {
    .select2-container--default .select2-selection--single {
        background-color: #fff !important;
        border: 0px solid #aaa !important;
        border-radius: 15px !important;
        height: 55px !important;
    }

    .select2-container--default .select2-selection--single .select2-selection__rendered {

        line-height: 55px;
        font-size: 18px !important;

        font-family: Satoshi, sans-serif !important;
        font-weight: 700 !important;
        color: #171717 !important;

    }

    .select2-container .select2-selection--single .select2-selection__rendered {
        display: block;
        padding-left: 15px;
        padding-right: 20px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border-color: #888 transparent transparent transparent;
        border-style: solid;
        border-width: 5px 4px 0 4px;
        height: 0;
        left: -15% !important;
        margin-left: -4px;
        margin-top: -2px;
        position: absolute;
        top: 100% !important;
        width: 0;
    }

    .select2-container--default .select2-results__option--highlighted[aria-selected],
    .select2-container--default .select2-results__option--highlighted[data-selected] {
        background-color: #ff007d !important;
        color: #fff;
    }
}

.woocommerce-checkout .daysix-checkout {
    .daysix-afrekenen {
        display: block !important;
    }

    .daysix-bedankt {
        display: none !important;
    }
}

.woocommerce-checkout.woocommerce-order-received .daysix-checkout {
    .daysix-afrekenen {
        display: none !important;
    }

    .daysix-bedankt {
        display: block !important;
    }
}